

<div class="tag">
  <div class="heading1" >
    <h1>GIT-GOOGLER <br>Github user-information at your finger-tips! <br>
      </h1>
      <app-user-details (searchResult) = "searchUser($event)"></app-user-details>
     
  </div>
  <div class="row" id="row1">
    
    
    <div class="col-md-6">
      <div *ngFor="let repo of repos" class="card" style="width: 25;  background-image: url(/assets/images/pexels-benjamin-suter-3733269.jpg); color: azure; padding: 4%;">
        <div >PROJECT:{{repo.name}}</div>
        <div class="card-body" style="background-color: black; opacity: 0.75;">
            <div class="container">
              <div class="row">
                <div class="col"> <div class="card-text"><i> <u>Repository Name</u> </i> <br>{{repo.name}} </div></div>
                <div class="col"> <div class="card-text"><i> <u>Description</u> </i> <br>{{repo.description}} </div></div>
                <div class="w-100"></div>
                <div class="col"><div  class="card-text"><i> <u>Language</u> </i> <br>{{repo.language}} </div></div>
                <div class="col"> <div class="card-text"><i> <u>Date Created</u> </i> <br>{{repo.created_at|date}} </div></div>
              </div>
            </div>
          </div>
       </div>
   </div>
   
        <div class="col-md-6" >
   
         <div class="container mt-5" style="background-image: url(/assets/images/pexels-benjamin-suter-3733269.jpg); position: fixed; width: 45vw;">
          <h4>User Profile:</h4>
         <div class="row mt-5" style="color: antiquewhite; background-color: black; opacity: 0.75;">
        <div class="col-md-5">
            <div class="row">
                <img src="{{user.avatar_url}}" class="rounded-circle img-fluid" alt="Avatar">
            </div>
        </div>
        <div class="col-md-5" >
          <div class="row mb-5">
            <h2 class="mt-5 mb-4">{{user.name}}</h2>
            <br>
            <div class="col-md-4">
                <p>Followers: {{user.followers}}</p>
            </div>
            <br>
            <div class="col-md-4">
                <p>Following: {{user.following}}</p>
            </div>
            <br>
            <div class="col-md-4">
                <p>Repositories: {{user.public_repos}}</p>
            </div>
        </div>
       
      </div>
      <br>
      <div>
        STATUS:{{user.type}}
        <br>
        LINK TO PROFILE:{{user.html_url}}
      </div>
        </div> 
  
        </div>
        </div>
</div>


      
      

      
    


 

